.carousel {
    border: 5px solid white;
    left: 17em;
    width: 1100px;
    object-fit: cover;
  }

  #scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
    background-color: white; 
    height: 50px;
    line-height: 40px;
  }
  
  #scroll-text {
    text-align: center;
    font-weight: bold;
    font-size: large;
    color: yellowgreen;
  
    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    
    -moz-animation: my-animation 10s linear infinite;
    -webkit-animation: my-animation 10s linear infinite;
    animation: my-animation 10s linear infinite;
  }
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(-100%); }
    to { -webkit-transform: translateX(100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
    to {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
  }

  #space{
            height: 25px;
  }

  #Login {
    height: 25px;
    float: right;
    margin-right: 15px;
    
}

.navbar-light{
    background-color: #0d157e;
         }

  .nav-item{
    color:white;
  }

  .navbar-nav .nav-item .nav-link {
    color: red;
}

.mb-3{
  margin-left: 30em;
  margin-right: 30em;
}

#logi
{
  margin-top: 10px;
  margin-left: 30em;
  color:whitesmoke;
}

.btn{
  margin-left: 30em;
  
}

.rect {
  /* border: 5px solid red; */
  margin-left: 10em;
  margin-top: 50px;
  margin-right: 10em;
  width: 77em;
  height: 46em;
  
  }

   .rec1{
    /* border: 5px solid white; */
    width: 15em;
    height: 15em;
    text-align: center;
    padding-top: 200px;
    font-weight: bold;
    font-style: italic;
    font-family:cursive;
    display:inline-block;
    }

    .recname {
      color: rgb(41, 124, 45);
      background-color:white;
    }

    #heading{
      font-family: cursive;
      text-align: center;
      padding-top: 10px;
      font-size: x-large;
      color: white;
      /* border: solid 2px red; */
    }

    #headiv{
      text-align: center;
      margin-top: 30px;
      background-color: rgb(13, 41, 122);
      color: white;
      margin-left: 20em;
      margin-right: 20em;
      font-family:Georgia, 'Times New Roman', Times, serif;
      font-weight: bolder;
      font-style: oblique;
    }

    .distheading{
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        color: royalblue;
        font-weight: bold;
        font-size: xxx-large;
        margin-top: 10px;
    }

    .distdescr{
      font-family: 'Times New Roman', Times, serif;
      text-align: justify;
      font-size: x-large;
      font-weight: bolder;
      font-style: italic;
      padding-left: 30px;
      padding-right: 30px;
      color: rgb(11, 47, 83);
    }

    .distimage{
      border: 2px solid white;
      margin-left: 50px;
    }

    .distsub{
      padding-left: 20px;
    }

    .Attr
    {
      color : royalblue;
      padding-left: 20px;
      text-decoration: underline;
    }

    #index{
      background-image: url("./images/Backwater_Campaign_Img1.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      
    }

    .dist1{
      background-image: url(./Districts/Cover/dist1.jpg);
      background-size: cover;
    }

    .dist2{
      background-image: url(./Districts/Cover/dist2.jfif);
      background-size: cover;
    }

    .dist3{
      background-image: url(./Districts/Cover/dist3.jpg);
      background-size: cover;
    }

    .dist4{
      background-image: url(./Districts/Cover/dist4.jpg);
      background-size: cover;
    }

    .dist5{
      background-image: url(./Districts/Cover/dist5.JPG);
      background-size: cover;
    }
    .dist6{
      background-image: url(./Districts/Cover/dist6.jpg);
      background-size: cover;
    }
    .dist7{
      background-image: url(./Districts/Cover/dist7.jpg);
    }
    .dist8{
      background-image: url(./Districts/Cover/dist8.jpg);
      background-size: cover;
    }
    .dist9{
      background-image: url(./Districts/Cover/dist9.jpg);
      background-size: cover;
    }
    .dist10{
      background-image: url(./Districts/Cover/dist10.jpg.crdownload);
      background-size: cover;
    }
    .dist11{
      background-image: url(./Districts/Cover/dist11.jpg);
      background-size: cover;
    }
    .dist12{
      background-image: url(./Districts/Cover/dist12.jfif);
      background-size: cover;
    }
    .dist13{
      background-image: url(./Districts/Cover/dist13.jpg);
      background-size: cover;
    }
    .dist14{
      background-image: url(./Districts/Cover/dist14.jpg);
      background-size: cover;
    }

    .dist15{
      background-image: url(./Districts/Cover/download.jfif);
      background-size: cover;
    }

    #login9{
      background-image: url("./images/login.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      
    }

    #signup9{
      background-image: url("./images/signup.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      
    }

   .form-label{
     color:rgb(14, 14, 233);
     font-weight: 900;
     
   }